<!DOCTYPE html>
{% assign theme = site.data.themes[site.ui_theme] %}
<html>
  {% include head.html %}
  <body style="background-color:{{theme.background-color}};">
    {% include nav.html %}
    <div class="dumbarton-spacer-sm"></div>
    <div class="container">
      {{ content }}
    </div>    
    <div class="dumbarton-spacer"></div>
    <div class="container"> 
      <div class="row contact-widget">
        <div class="col-12 col-lg-4 section-heading">
          <h1>Contact</h1>
        </div>
        <div class="col-12 col-lg-8">
          <ul class="fa-ul" itemscope="">
            <li>
              <i class="fa-li fas fa-envelope fa-lg" aria-hidden="true"></i>
              <span id="person-email" itemprop="email">pengrenfeng (.a.t.) lsec.cc.ac.cn</span>
            </li>
            <!--
            <li>
              <i class="fa-li fas fa-phone fa-2x" aria-hidden="true"></i>
              <span id="person-telephone" itemprop="telephone">Office: (+86)10-82541028</span>
            </li>
            -->
            <li>
              <i class="fa-li fas fa-map-marker fa-lg" aria-hidden="true"></i>
              <span id="person-address" itemprop="address">Office: LanBai Building - 101, No.55, ZhongGuanCun East Road, Beijing 100190, China</span>
            </li>
          </ul>
        </div>

        <div class="widgetContainer" style="width:200px;">
          <script type="text/javascript" id="clstr_globe"
            src="//clustrmaps.com/globe.js?d=b1YtWuaj0Rg4F2VnG1B6UC_rg7XgA9j_T8q7P2B3E7g">
          </script>
        </div>


      </div>
    </div>
    <div class="dumbarton-spacer"></div>
    {% include footer.html %}
  </body>
</html>
